<div style="margin-top: 80px; margin-bottom: 20px" class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p style="text-align: center">(Download the PDF Version <a href="{{ site.data.bio.basics.cv }}">HERE</a>)</p>
  </div>

  {% include bio-skills-1.html %}
  {% include bio-education-2.html %}
  {% include bio-work-2.html %}
  {% include bio-awards-2.html %}

  <div class="sixteen wide column no-bottom">
    <hr>
    <p style="text-align: center">Download the PDF Version <a href="{{ site.data.bio.basics.cv }}">HERE</a></p>
  </div>

</div>


